*{
    margin: 0px;
    padding: 0px;
}
.service-blue-card-bg{
    width: 271px;
height: 181px;
/* Primary */

background: #2947A9;
box-shadow: 0px 0px 37px -2px rgba(17, 24, 39, 0.05);
border-radius: 4px;
}
.service-blue-card-img{
    width: 40px;
    height: 40px;
    margin: 20px 0px;
   margin-top: 38px;
   align-items: center;
   margin-left: 115px;
}
.hr-line-blue{
    width: 60px;
    height: 2px;
    justify-content: center;
    margin-top: 20px;
    margin-left: 105px;
    background: #E0E3EB;  
}
.service-blue-card-title{
    font-family: Work Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    
    /* Neutral/White */
    
    color: #FFFFFF;
}