*{
    padding: 0px;
    margin: 0px;
}
.next-btn-back{
    width: 295px;
    height: 64px;
    background: #292E3D;
    /* transform: rotate(-180deg); */
    
    /* Body/default */
    
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    
    
    /* Neutral/White */
    
    color: #FFFFFF;
}