* {
  margin: 0px;
  padding: 0px;
}
.header-bg-img {
  background-image: url(../../assets/Hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 646px;
}
.header-heading {
  /* Heading/1 */

  font-family: "work sans";
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 84px;
  margin-top: 239px;
  align-items: center;
  /* margin-left: 112px; */

  /* Neutral/800 */

  color: #292e3d;
}

/* featured-project */
.featured-project {
  background: #3559c7;
  width: 416px;
  height: 190px;
  border-radius: 2px 2px 0px 0px;
  margin-left: 65%;
}
.header-blue-heading {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;

  /* Neutral/White */

  color: #ffffff;
}
.header-blue-para {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;

  /* Neutral/White */

  color: #ffffff;
}
.header-icons {
  display: flex;
  background: #292e3d;
}
.back-btn {
  background: #292e3d;
  transform: rotate(-180deg);
}
.heading-reput {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  padding-top: 60px;

  /* Neutral/800 */

  color: #292e3d;
  /* First cards Section  */
}
.cards-row {
  padding: 50px 0px 0px 0px;
  display: flex;
  justify-content: space-around;
}
.one {
  padding: 0px 68px 0px 0px;
}
.two {
  padding: 0px 0px 40px 30px;
  justify-content: center;
}
.three {
  padding-left: 78px;
  padding-right: 0px;
}
/* BOTTOM SECTION */

.bottom-bg-part2 {
  background-image: url(./unsplash.png);
  background-repeat: no-repeat;
  background-position: left;
  width: 902px;
  height: 669px;
  justify-content: flex-start;
}
.bottom-bg-part2 {
  margin-top: 74px;
}
/* .blue-bg-part2{
  width: 488px;
height: 523px;
background: #2947A9;
padding-top: 73px;

/* Shadow 1 */

/* box-shadow: 0px 20px 24px -4px rgba(17, 24, 39, 0.1), 0px 8px 8px -4px rgba(17, 24, 39, 0.04);
border-radius: 2px;
} */
.blue-bg-part2 {
  position: absolute;
  width: 488px;
  height: 523px;
  margin-top: 70px;
  align-items: center;
  /* Primary */

  background: #2947a9;
  /* Shadow 1 */

  box-shadow: 0px 20px 24px -4px rgba(17, 24, 39, 0.1),
    0px 8px 8px -4px rgba(17, 24, 39, 0.04);
  border-radius: 2px;
}
.blue-title-part2 {
  /* Heading/4 */

  font-family: "Work Sans";
  font-style: normal;
  font-weight: bold;
  text-align: left;
  font-size: 36px;
  line-height: 42px;
  padding: 50px 0px 0px 40px;

  color: #ffffff;
}
.blue-subtitle-part2 {
  /* Body/medium */

  font-family: "Work Sans";
  font-style: normal;
  font-weight: normal;
  text-align: left;
  font-size: 20px;
  line-height: 23px;
  padding: 37px 0px 0px 40px;

  color: #ffffff;
}
.Services-section {
  background-color: #f6f8f7;
  width: 100%;
  height: 608px;
  margin-top: 202px;
}
.services-heading {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  padding-top: 42px;

  /* Neutral/800 */

  color: #292e3d;
}
/* SERVICE CARD SECTION  */
.service-card-section{
margin-top: 36px;
margin-left: 20px;
}
/* .card-one{
  
}
.card-two{

}
.card-three{

} */
.ser-card{
  margin-top: 20px;
  margin-left: 38px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 48px;
  


}
/* PROJECT CARD CSS  */
.project-heading{
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  margin-top: 88px;
  /* Neutral/800 */
  
  color: #292E3D;
}
.project-subheading{
  font-family: 'Work Sans';
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;
text-align: left;
margin-top: 40px;
/* Primary */

color: #2947A9;

}
.project-name{
  font-family: 'Work Sans';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;
text-align: left;
list-style: none;
padding: 20px 0px 0px 20px;

/* Neutral/200 */

color: #C2C7D6;

}
.black-card-row{
  margin-top: 170px;
}
/* FORM START FROM HERE  */
.contact-form{
  position: absolute;
  height: 632px;
  
/* Neutral/50 */

background: #F6F8F7;
margin-top: 128px;
}
.contact-heading{
  /* Heading/4 */

font-family: 'Work Sans';
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 42px;
text-align: center;
margin-top: 60px;
/* Neutral/800 */

color: #292E3D;

}
.contact-sub-heading{
  /* Body/medium */
width: 539px;
height: 46px;
font-family: 'Work Sans';
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;
text-align: center;
margin-top: 20px;
margin-left: 40px;
/* Neutral/800 */

color: #292E3D;
}

.data-row{
  margin-top: 38px;
}
.name{
  width: 280px;
  height: 41px;

  background: #FFFFFF;
  margin-top: 20px;
  padding: 10px 0px 10px 8px;
  /* Neutral/100 */
  
  border: 1px solid #E0E3EB;
  box-sizing: border-box;
  border-radius: 4px;
  
/* Body/default */

font-family:' Work Sans';
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;

/* Neutral/300 */

color: #A3AAC2;

}
.email{
  width: 280px;
  height: 41px;
  background: #FFFFFF;
  margin-top: 20px;
  /* Neutral/100 */
  
  border: 1px solid #E0E3EB;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 10px 0px 10px 8px;
  /* Body/default */

font-family: 'Work Sans';
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;

/* Neutral/300 */

color: #A3AAC2;
}

.reason{
  width: 280px;
  height: 41px;
  background: #FFFFFF;
  margin-top: 20px;
  padding: 10px 0px 10px 8px;
  /* Neutral/100 */
  
  border: 1px solid #E0E3EB;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: 'Work Sans';
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;

/* Neutral/300 */

color: #A3AAC2;
}
.phone{
  width: 280px;
  height: 41px;
  background: #FFFFFF;
  margin-top: 20px;
  padding: 10px 0px 10px 8px;
  /* Neutral/100 */
  
  border: 1px solid #E0E3EB;
  box-sizing: border-box;
  border-radius: 4px;

   /* Body/default */

font-family: 'Work Sans';
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;

/* Neutral/300 */
}
.msg{
  width: 592px;
  padding-bottom: 125px;
  padding-left: 8px;
  background: #FFFFFF;
/* Neutral/100 */

border: 1px solid #E0E3EB;
box-sizing: border-box;
border-radius: 4px;
margin-top: 20px;
/* Body/default */

font-family: 'Work Sans';
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;

/* Neutral/300 */

color: #A3AAC2;

}
.contact-note{
font-family:' Work Sans';
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
/* identical to box height */
margin-top: 8px;

color: #C40303;

}
.submit-button{
  margin-left: -50px;
  margin-top: 28px;
}