*{
    margin: 0px;
    padding: 0px;
    font-family: 'work sans';
}
.logo-navbar{
    width: 38px;
    height: 47.5px;
}

.logo-part{
display: flex;
}
nav{
    width: 100%;
    height: 80px;
    background: #FFFFFF;
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 30px;
    align-items: center;
}
nav ul li{
    display: inline-block;
    padding: 10px 10px;
    font-family: Work Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
/* align-items: center; */

/* Neutral/900 */

color: #14171F;

}
.logo-heading{
    /* font-family:' Work Sans'; */
    font-style: italic;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    padding-left: 14px;
    /* align-items: center; */
    /* Primary */
    
    color: #2947A9;
    justify-content: center;
    
}
@media screen and (max-width: 768px){
   
}